@charset "UTF-8";

h1{
  color: blue;
  background-color: red;
  width: 200px;
  height: 50px;
}

}
 body {
  background:
     url("../image/sky.jpg")      center center no-repeat /cover;
     color: #fff;
 }

 ul li{
  list-style-type: none;
 }

p{
  font-weight: bold;
}