@charset "UTF-8";

h1{
  color: blue;
  background-color: red;
  width: 200px;
  height: 50px;
    margin: 0 auto;
}

}
 body {
  background:
     url("../image/sky.jpg")      center center no-repeat /cover;
     color: #fff;
 }
 p{
  position :left;
 }
  ul {
 list-style-type: none;
 float: left;
 text-indent: 30px;
 text-align: center;
 padding: 0 10px;
 }
 li {
 list-style-type: none;
 float: left;
 text-indent: 30px;
 text-align: center;
 padding: 0 10px;
 }
#space {
  background-image: url(../image/space1.jpg);
width: 600px;
height: 550px;
  margin: 0 auto;
   position:relative;
     top:80px;
}
