@charset "UTF-8";

h1{
  color: blue;
  background-color: red;
  width: 200px;
  height: 50px;
}

<<<<<<< HEAD:css/styel.css

=======
>>>>>>> 7c2553df5b169759f7fae69b919c6f2764e35eaf:css/style.css
 body {
  background:
     url("../image/sky.jpg")      center center no-repeat /cover;
     color: #fff;
 }

 ul li{
  list-style-type: none;
 }
<<<<<<< HEAD:css/styel.css

p{
  font-weight: bold;
}
=======
li::before {
  content: "\f2bd";
  font-family: FontAwesome;
  padding-right: 5px;
}
>>>>>>> 7c2553df5b169759f7fae69b919c6f2764e35eaf:css/style.css
